@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Lato&family=Montserrat:wght@100;200;300;400;500;700&family=Nunito:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@300;400&display=swap');

:root {
    --background-nav: #202124;
    --background-body: rgb(248, 249, 250);
    --background-input: rgb(247, 244, 241);
    --background-border: rgb(209, 206, 202);
    --border-light: rgb(218, 211, 201, .3);
    --text-main: rgb(255, 255, 255);
    --text-second: rgb(175, 169, 160);
    --text-middle: rgb(95, 95, 95);
    --shadow: 2px 2px 2px 1px rgba(206, 200, 190, .3);
    --shadow-strong: 1px 1px 3px 1px rgba(187, 183, 176, 0.7);
    --shadow-not-strong: 1px 1px 2px 1px rgba(187, 183, 176, 0.3);
    --shadow-btns: 2px 2px 3px 1px rgba(255, 255, 255, 0.2);
    --shadow-table: 1px 1px 2px 1px rgba(187, 183, 176, 0.2);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed';
    font-weight: 400;
}

.pencil {
    color: rgb(234, 234, 234);
    font-size: 12px;
}

/* header {
    margin-top: -90px;
} */

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-body);
    width: 100%;
}

/* modal */

.modal {
    height: 100vh;
    width: 100vw;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;

}

.content {
    padding: 20px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    transform: scale(0.2);
    transition: 0.2s all;
    height: 95%;
    width: 70%;
    overflow: scroll;
}

.content.active {
    transform: scale(1);
}

.modal.active {
    opacity: 1;
    pointer-events: all;

}

.cv-modal,
.add-modal {
    display: flex;
    flex-direction: column;
    white-space: normal;
    width: 98%;
    margin: 15px;
}

.cv-modal {
    height: 90%;
}

.add-modal {
    height: 100%;
}

.discription {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cv-modal h4 {
    margin-bottom: 5px;
    font-size: 15px;
}

.discription h4 {
    font-weight: 600;
    color: rgb(43, 43, 43);
}

.add-candidate {
    margin-bottom: 10px;
    width: 98%;
    justify-content: space-between;
}

.add-candidate input {
    width: 47%;
    padding: 8px;
}

.add-candidate button {
    width: 200px;
    height: 30px;
    padding: 6px;
}

.head_candidate,
.add-candidate,
.input_fullname {
    display: flex;
    flex-wrap: nowrap;

}

.input_fullname {
    font-size: 17px;
    margin-bottom: 10px;
}

.head_candidate a {
    font-size: 13px;
}

.add-input.text {
    height: 40px;
}

.add-input.comment {
    height: 30px;
    width: 100%;
}

.head_candidate h4 {
    margin-bottom: 10px;
}

.head_candidate h5 {
    font-size: 15px;
    margin-bottom: 3px;
}

.head_candidate span {
    margin-bottom: 3px;
}

.head_candidate a {
    margin-bottom: 3px;
    color: rgb(48, 48, 212);
}

.discription p {
    margin-bottom: 15px;
}

/* кандидат */

.edit-candidate {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.edit-candidate input,
.edit-candidate button {
    padding: 5px 7px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 7px;
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: var(--shadow-strong);
}

.edit-candidate input {
    outline: none;
}

/* загрузка template */

.loading-container {
    display: flex;
    align-content: stretch;
    flex-direction: column;
    width: 98%;
    align-items: center;
}

.loading-common {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 98%;
}

.loading-input {
    display: flex;
    width: 20%;
    justify-content: flex-start;
}

.loading-input input {
    width: 73%;
    background-color: rgb(221, 221, 221);
    border: none;
    border-radius: 5px;
}

.loading-btn {
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

.loading-btn button {
    width: 25%;
    margin-right: 0.4em;
    border: none;
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
    height: 30px;
}

.table-candidate-loading {
    width: 15%;
    height: 30px;
    background-color: rgb(221, 221, 221);
    border-color: rgb(221, 221, 221);
}

.table-candidate-loading-td {
    width: 15%;
    height: 30px;
    background-color: rgb(224, 224, 224);
    border-color: rgb(224, 224, 224);
}


/* вход */

.login-container {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 20px;
}

.login-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.block-title {
    display: flex;
    align-items: center;
}

.login-title {
    margin: 0px 10px;
}

.login-block-btns {
    display: flex;
}

.sign-in,
.sign-up {
    padding: 10px 20px;
    min-width: 130px;
    margin: 5px 10px 5px 5px;
    border: 1.5px solid #202124;
    border-radius: 50px;
    box-shadow: var(--shadow-not-strong);
}

.sign-in {
    background-color: transparent;
}

.sign-up {
    color: white;
    background-color: #202124;
}

/* админ */

.admin-container {
    display: flex;
    flex-direction: column;
    width: 98%;
}

.admin-title {
    margin: 20px 0px;
}

.admin-table {
    margin: 0px;
}

.icon {
    border-radius: 50%;
    width: 17px;
}

.admin-table {
    width: 100%;
}

.admin-th,
.admin-td {
    width: 15%;
    height: 19px;
    padding: 6px;
}

.admin-table th {
    padding: 6px 5px;
}

.admin-table td {
    padding-left: 5px;
}


/* навигация */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: var(--background-nav);
    box-shadow: var(--shadow-strong);
}

.logo {
    width: 10%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.logo,
.menu-main,
.menu-exit {
    display: flex;
}

.logo img {
    margin-top: 3px;
}

.menu-main {
    width: 60%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    align-items: center;
    margin: 5px 3px;
}

a {
    text-decoration: none;
    color: var(--text-main);
}

a:active {
    color: var(--text-middle);
}

.btn-menu {
    display: flex;
    border: none;
    box-shadow: var(--shadow-strong);
    border-radius: 50px;
    background-color: transparent;
    padding: 9px 20px;
    text-transform: uppercase;
    min-width: 50px;
    justify-content: center;
    color: rgb(223, 225, 226);
}

.btn-menu:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.menu-exit {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
    padding-left: 10px;
}

.menu-exit h5 {
    font-size: 0.85rem;
    color: var(--text-middle);
}


/* мой аккаунт */

.my-account {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 10px;
    padding: 20px;
}

.add-account-btn {
    max-width: 150px;
    padding: 5px 10px;
    border-radius: 30px;
    border: 1px solid #202124;
    margin-bottom: 20px;
}


/* база кандидатов */
.login-container {
    display: flex;
    margin-top: 90px;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
}

.div-table {
    overflow-x: auto;
    white-space: nowrap;
}

table {
    width: 97vw;
    border-radius: 5px;
    font-size: 14px;
    margin: 0px 10px 10px 10px;
}

th {
    background-color: var(--background-nav);
    color: rgb(223, 225, 226);
    height: 20px;
}

th,
td {
    border: 1px solid var(--background-border);
    border-radius: 3px;
    box-shadow: var(--shadow-table);
}

th,
td {
    text-align: left;
    padding-left: 5px;
}

.td-base,
.th-base {
    padding: 6px 5px;
}

/* поиск и добавление */

.main-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
}

.main-top-btns {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-left: -5px;
}

.main-top-input {
    width: 50%;
}

.btn-add {
    width: 50%;
    margin-left: 8px;
    background-color: white;
    border-color: var(--background-border);
    border-radius: 5px;
}

.form {
    width: 80%;
}

.input-search,
.btn-add {
    padding: 7px 5px;
}

.input-search {
    width: 50%;
    border-color: var(--border-light);
    border-radius: 5px;
    outline: none;
}

.comment,
.status {
    color: var(--text-second);
}

h4 {
    color: var(--text-second);
}

.main-top-vacancy {
    flex-direction: column;
}

.container-candidate {
    display: flex;
    width: 100%;
}

.sidebar {
    display: flex;
    flex-wrap: nowrap;
    width: 20%;
    height: 100vh;
    border-right: 1px solid var(--background-border);
    flex-direction: column;
}

hr {
    width: 100%;
    border: 1px solid var(--border-light);
}

.candidate-sidebar {
    padding: 5px;
}

.table-candidate-sidebar {
    margin: 0;
    width: 100%;
}

.img-escape {
    border-radius: 50px;
    margin-bottom: 5px;
}

.menu-exit button {
    border: none;
    margin-left: 10px;
    background-color: transparent;
    margin-right: 10px;
    padding: 3px 6px;
    font-size: 1rem;
    color: var(--text-main);
}


/* media */

@media screen and (max-width: 500px) {
    body {
        flex-shrink: 1;
    }

    .login-form {
        flex-direction: column;
        align-items: flex-start
    }

    .div-block-btns {
        margin-top: 10px;
    }

    nav {
        width: 100%;
        height: 170px;
    }

    .my-account {
        margin-top: 80px;
    }

    .menu-main {
        width: 80%;
    }

    table {
        width: 50rem;
        font-size: 11px;
        margin-left: 2px;
    }

    .main-top {
        margin-top: 80px;
        margin-left: 5px;
        margin-right: 2px;
        width: 100%;
        height: 30px;
    }

    .input-search {
        margin-left: -7px;
        font-size: 1.7vmin;
        height: 100%;
        width: 100%;
    }

    .btn-add {
        /* margin-right: 7px; */
        font-size: 1.7vmin;
        width: 40%;
        height: 25px;
        padding: 5px;
    }

    h5 {
        font-size: 11px;
    }

    .logo img {
        width: 100%;
    }

    .menu-exit div a {
        font-size: 11px;
    }

    .div-table {
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
    }
}

@media screen and (min-width: 500px) and (max-width: 900px) {
    body {
        flex-shrink: 1;
    }

    nav {
        width: 100%;
    }

    table {
        width: 99%;
        font-size: 11px;
        margin-left: 2px;
    }

    .main-top {
        margin-left: 2px;
        margin-right: 2px;
        width: 100%;
        height: 30px;
    }

    .input-search {
        margin-left: 0px;
        font-size: 11px;
        height: 16px;
        width: 150px;
    }

    .btn-add {
        /* margin-right: 7px; */
        font-size: 11px;
        width: 50%;
        height: 33px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    h5 {
        font-size: 11px;
    }

    .logo img {
        width: 100%;
    }

    .div-table {
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
    }
}

@media screen and (min-width: 790px) and (max-width: 1143px) {

    .input-search {
        font-size: 13px;
        height: 16px;
    }

    .btn-add {
        /* margin-right: 4px; */
        font-size: 13px;
        height: 33px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .logo img {
        width: 70%;
    }

}

@media screen and (min-width: 901px) and (max-width: 1143px) {

    .input-search {
        width: 50%;
        height: 16px;
    }

    .btn-add {
        /* margin-right: 4px; */
        width: 45%;
        height: 30px;
    }

    table {
        font-size: 13px;
    }

    .logo img {
        width: 60%;
    }

}

@media screen and (min-width: 1144px) and (max-width: 1167px) {

    .input-search {
        font-size: 13px;
        width: 40%;
        height: 16px;
    }

    .btn-add {
        /* margin-right: 6px; */
        font-size: 13px;
        width: 40%;
    }

}

@media screen and (min-width: 1168px) and (max-width: 1279px) {

    .input-search {
        font-size: 13px;

    }

    .btn-add {
        /* margin-right: 8px; */
        font-size: 13px;
        width: 40%;
    }

    .logo img {
        width: 50%;
    }


}

@media screen and (min-width: 1280px) and (max-width: 1450px) {

    .input-search {
        font-size: 1.7vmin;
        font-size: 14px;
    }

    .btn-add {
        /* margin-right: 11px; */
        font-size: 14px;
        width: 40%;
    }

    .logo img {
        width: 50%;
    }

}

@media screen and (min-width: 1451px) and (max-width: 1669px) {

    .input-search {
        font-size: 14px;
    }

    .btn-add {
        /* margin-right: 14px; */
        font-size: 13px;
        width: 29%;
    }

    .logo img {
        width: 40%;
    }

}

@media screen and (min-width: 1900px) {

    .btn-add {
        /* margin-right: 43px; */
        /* margin-left: -25px; */
        font-size: 13px;
        width: 22%;
    }

    .logo img {
        width: 30%;
    }

}