:root {
    --radius-border: 15px;
    --border: 1px solid rgb(139, 179, 232, 0.3);
    /* --text-color-dark: rgb(20, 59, 95); */
    --text-color-dark: rgb(38, 70, 91);
    --background: rgb(66, 118, 150);
    --button-color: rgb(205, 172, 168, 1);
    --button-radius: 5px;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font: 1.5vmin sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
}

.container,
.div-container {
    background-color: whitesmoke;
    display: flex;
    width: 90vw;
    max-width: 800px;
    border-radius: var(--radius-border);
    box-shadow: 3px 3px 4px rgba(133, 126, 137, 0.4), -1em 0 0.6em rgb(133, 126, 137, 0.1);
}

.div-container {
    border-radius: 5px;
    justify-content: space-between;
}

.div-session-container {
    display: flex;
    height: 100vh;
    height: 100vh;
}

.div-session {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 10vh;
    width: 100vw;
    align-items: center;
    font-size: 11px;
}

.block-inputs {
    margin: 15%;
    display: flex;
    flex-direction: column;
    border-top-left-radius: var(--radius-border);
    border-bottom-left-radius: var(--radius-border);
    width: 70%;
    border-right: none;
}

h1,
h4 {
    font-family: sans-serif;
    color: var(--text-color-dark);
}

h1 {
    font-size: 18px;
    margin-top: 25px;
    font-weight: 600;
}

h4 {
    font-size: 11px;
    margin-bottom: 5px;
    font-weight: normal;
}

.sign-in {
    padding: 10px;
}

.text-sign-out {
    margin: 0px;
    padding-bottom: 5px;
}

.block-name {
    display: flex;
    width: 50%;
    border-bottom-right-radius: var(--radius-border);
    border-top-right-radius: var(--radius-border);
    background-color: var(--background);
}

.div-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
}

button {
    background-color: var(--button-color);
    color: var(--text-color-dark);
    border: none;
    padding: 5px 10px;
    border-radius: var(--button-radius);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 150px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    margin: 15px;
}

.btn-esc {
        width: 35px;
        height: 28px;
        background-color: transparent;
        background-color: var(--background);
        color: whitesmoke;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}